.favorite-movies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: rgb(45, 81, 199);
}
.head-button {
    width: 140px;
    height: 30px;
    color:#fff;
    background-color: chocolate;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.conteiner-cart {
    display: flex;
    justify-content: center;
}

