.head-form {
     
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 15px;

}

.conteiner {
  display: flex;
  gap: 20px;
}

.input {
  width: 400px;
  height: 40px;
  border: 2px solid rgb(32, 84, 197);
  padding: 10px;
  font-size: 16px;
  color: rgb(163, 157, 157);
}

.button {
  width: 100px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  background-color: rgb(174, 42, 95);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  
}

h1 {
  color: rgb(32, 84, 197);
}
